/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Body styles
   ========================================================================== */
body{
	background-color:#000000;
	color: #FFC652;
}

.nice {
	font-family: 'Parisienne', cursive;
}

/*#bg {
z-index: -3;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
*/

/* ==========================================================================
   Button styles
   ========================================================================== */
.active {
	font-size: 24px;
  font-weight: normal;
  line-height: 32px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}


.btn {
  display: block;
  padding: 20px 0;
  margin: auto;
  font-size: 24px;
  font-weight: normal;
  line-height: 32px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}

.btn:focus {
  outline: thin dotted #333;
  outline: 0px 0px -webkit-focus-ring-color;
  outline-offset: 0px;
}

.btn:hover,
.btn:focus {
  color: #fff;
  text-decoration: none;
}


.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

/*
.btn-oldstyle {
  background-color: #5F021F;
  border-color: #5F021F;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #77a678;
  background-image: -moz-linear-gradient(top,#83AE84,#649a66);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#83AE84),to(#649a66));
  background-image: -webkit-linear-gradient(top,#83AE84,#649a66);
  background-image: -o-linear-gradient(top,#83AE84,#649a66);
  background-image: linear-gradient(to bottom,#83AE84,#649a66);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff83ae84', endColorstr='#ff649965', GradientType=0);
  border-color: #649a66 #649a66 #466b47;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
}
.btn-oldstyle:hover,
.btn-oldstyle:focus {
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position .1s linear;
  -moz-transition: background-position .1s linear;
  -o-transition: background-position .1s linear;
  transition: background-position .1s linear;
}
.btn-oldstyle:hover,
.btn-oldstyle:focus {
  background-color: #5F021F;
}
.btn-oldstyle:active,
.btn-oldstyle.active,
.btn-oldstyle.active:hover {
  background-color: #74a475;
  border-color: #649a66;
}
.btn-oldstyle.disabled:hover,
.btn-oldstyle.disabled:focus,
.btn-oldstyle.disabled:active,
.btn-oldstyle.disabled.active,
.btn-oldstyle[disabled] .btn-oldstyle:hover,
.btn-oldstyle[disabled] .btn-oldstyle:focus,
.btn-oldstyle[disabled] .btn-oldstyle:active,
.btn-oldstyle[disabled] .btn-oldstyle.active {
  background-color: #83AE84;
  border-color: #83AE84;
}

*/

.btn-oldstyle {
  background-color: #5F021F;
  border-color: #5F021F;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #4b0218;
  background-image: -moz-linear-gradient(top,#5F021F,#2d010f);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#5F021F),to(#2d010f));
  background-image: -webkit-linear-gradient(top,#5F021F,#2d010f);
  background-image: -o-linear-gradient(top,#5F021F,#2d010f);
  background-image: linear-gradient(to bottom,#5F021F,#2d010f);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5f021f', endColorstr='#ff2d000e', GradientType=0);
  border-color: #2d010f #2d010f #000000;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
}
.btn-oldstyle:hover,
.btn-oldstyle:focus {
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position .1s linear;
  -moz-transition: background-position .1s linear;
  -o-transition: background-position .1s linear;
  transition: background-position .1s linear;
}
.btn-oldstyle:hover,
.btn-oldstyle:focus {
  background-color: #2d010f;
}
.btn-oldstyle:active,
.btn-oldstyle.active,
.btn-oldstyle.active:hover {
  background-color: #460117;
  border-color: #2d010f;
}
.btn-oldstyle.disabled:hover,
.btn-oldstyle.disabled:focus,
.btn-oldstyle.disabled:active,
.btn-oldstyle.disabled.active,
.btn-oldstyle[disabled] .btn-oldstyle:hover,
.btn-oldstyle[disabled] .btn-oldstyle:focus,
.btn-oldstyle[disabled] .btn-oldstyle:active,
.btn-oldstyle[disabled] .btn-oldstyle.active {
  background-color: #5F021F;
  border-color: #5F021F;
}

/* ==========================================================================
   Video styles
   ========================================================================== */














