/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Body styles
   ========================================================================== */
body{
	background-color:#000000;
	/*color: #FFC652;*/
}

.nice {
	font-family: 'Courgette', cursive;
}

h2.nice{
	color: #5F021F;	
	text-align: center;
}
	
.knoppen{
	margin-top: 30px;
	margin-right: 15px;
	float: right;
}

#copyright{
	position: fixed;
	bottom: 5px;
	right: 5px;
	color: #fff;
}

.applicatie{
	margin-top: 75px;
}

.at4-share-btn{
	opacity: 0.5;
}

.at4-share-btn:hover{
	opacity: 1;
	-webkit-transition: opacity 500ms ease;
	-moz-transition: opacity 500ms ease;
	-ms-transition: opacity 500ms ease;
	-o-transition: opacity 500ms ease;
	transition: opacity 500ms ease;
}
}
/* ==========================================================================
   Button styles
   ========================================================================== */


.btn-group > .btn {
	opacity:0.5;
}

.btn-group > .btn:hover {    
	opacity: 1;
	-webkit-transition: opacity 500ms ease;
	-moz-transition: opacity 500ms ease;
	-ms-transition: opacity 500ms ease;
	-o-transition: opacity 500ms ease;
	transition: opacity 500ms ease;
}


.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn:hover,
.btn:focus {
  color: #fff;
  text-decoration: none;
}

.btn-default:hover{
	color: #000000;
}

.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-oldstyle {
	/* bootstrap .btn overide */ 
  display: block;
  padding: 20px 0;
  margin-bottom: 5px;
  font-size: 24px;
  font-weight: normal;
  line-height: 32px;
  /* end */
  background-color: #5F021F;
  border-color: #5F021F;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #4b0218;
  background-image: -moz-linear-gradient(top,#5F021F,#2d010f);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#5F021F),to(#2d010f));
  background-image: -webkit-linear-gradient(top,#5F021F,#2d010f);
  background-image: -o-linear-gradient(top,#5F021F,#2d010f);
  background-image: linear-gradient(to bottom,#5F021F,#2d010f);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5f021f', endColorstr='#ff2d000e', GradientType=0);
  border-color: #2d010f #2d010f #000000;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
}
.btn-oldstyle:hover,
.btn-oldstyle:focus {
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position .1s linear;
  -moz-transition: background-position .1s linear;
  -o-transition: background-position .1s linear;
  transition: background-position .1s linear;
}
.btn-oldstyle:hover,
.btn-oldstyle:focus {
  background-color: #2d010f;
}
.btn-oldstyle:active,
.btn-oldstyle.active,
.btn-oldstyle.active:hover {
  background-color: #460117;
  border-color: #2d010f;
}
.btn-oldstyle.disabled:hover,
.btn-oldstyle.disabled:focus,
.btn-oldstyle.disabled:active,
.btn-oldstyle.disabled.active,
.btn-oldstyle[disabled] .btn-oldstyle:hover,
.btn-oldstyle[disabled] .btn-oldstyle:focus,
.btn-oldstyle[disabled] .btn-oldstyle:active,
.btn-oldstyle[disabled] .btn-oldstyle.active {
  background-color: #5F021F;
  border-color: #5F021F;
}


.active {
  padding: 5px;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: normal;
  line-height: 32px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}
/* ==========================================================================
   Video styles
   ========================================================================== */

.video  { position: relative;padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; }
.video  iframe, .video  object, .video  embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }













